body {
    background-image: url('images/bg.jpg'); 
    background-size: cover; 
    background-position: center center; 
    background-attachment: fixed;
    height: 100vh; 
    margin: 0; 
}

#btnTeacherGoHome {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 10;
    background-color: rgba(0,0,0,0.05);
    border-radius: 50%;
    padding: 8px;
  }

  #btnTeacherGoHome i {
    font-size: 1.25rem;
    color: #000;
  }

  #frmTeacherLogin {
    position: relative; 
  }

  #btnStudentGoHome {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 10;
    background-color: rgba(0,0,0,0.05);
    border-radius: 50%;
    padding: 8px;
  }

  #btnStudentGoHome i {
    font-size: 1.25rem;
    color: #000;
  }

  #frmStudentLogin {
    position: relative; 
  }


#divTeacherInterface li{
    list-style: none;
}

#divTeacherInterface #teacherSidebar{
    min-height: 100vh;
    background-color: #f5c2f0;
    padding: 2rem;
}

#divTeacherInterface #teacherContainer {
    position: relative;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0);
}

#divTeacherInterface #teacherContainer #teacherHeader {
    height: 10vh;
    background: #f1e2fd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 1rem;
}